<nav class="nav-border navbar navbar-expand-sm bg-header navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img width="100" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                {% for t in tags %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index', tag_id=t.id) }}">{{ t.name }}</a>
                </li>
                {% endfor %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Category</a>
                    <ul class="dropdown-menu">
                        {% for g in genres %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for('index', genre_id=g.id) }}">{{ g.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown" style="margin-left: 1.5rem;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        {% if current_user.avatar %}
                        <img class="rounded-circle" width="35px" src="{{current_user.avatar}}" alt="{{ current_user.name }}">
                        {% endif %}
                    </a>
                    <ul style="padding: 0.5rem;" class="dropdown-menu">
                        <li>
                            <a class="dropdown-item nav-link" href="/details">{{ current_user.full_name }}</a>
                        </li>
                        <li>
                            <a class="dropdown-item nav-link" href="{{ url_for('user_logout') }}">
                                <b>Sign out {{ current_user.name }}</b>
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_login') }}"><b>Sign in</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_register') }}"><b>Register</b></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
