{% extends 'layouts/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<style>
    /* CSS để căn giữa form */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    label, input {
        margin-bottom: 10px; /* Khoảng cách giữa label và input */
    }
    h1 {
    text-align: center
    }
</style>

<h1>Change Password</h1>
    <form method="post" action="{{ url_for('change_password', username=username) }}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Change Password">
    </form>
{% endblock %}